.contact-page {
  /* height: 980px; */
  /* height: 91.5vh; */
  /* padding: 1%; */
  display: flex;
  flex-direction: column;
  background: #5cc431;
  border: 0.5vw solid #143d28;
  align-items: space-evenly;
  justify-content: center;
}

/* .contact-header{
    font-family: 'Raleway', sans-serif;
    color: #D0D0D0; */
/*text-shadow: 0px 0px 200px #000;*/
/* font-size: 800%;
    margin-right: 32px;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
} */

.contact-title {
  text-align: center;
  margin-right: 0%;
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  color: rgb(164, 152, 136);
  background: #4a9246;
  margin-top: 0%;
  /* padding: 2% 0; */
  /* border: 5px solid #4a9246; */
}

.inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.map {
  border: 0.5vw solid #143d28;
  width: 30vw;
  height: 50vh;
}

.hours-div {
  background: #4a9246;
  border: 0.5vw solid #143d28;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days {
  color: white;
  /* width: 0%; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-content: ; */
}
