@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Oswald');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100%;  */
}

.App {
  background: #4a9246;
  font-family: 'Raleway', sans-serif;
  width: 98vw;
  /* max-width: 1900px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

/* .tempNav{
    position: fixed; */
/* bottom: 0; */
/* width: 100%;
}

.main{
    margin-bottom: 30px;
} */

/* 
.App {
    height: 1014px;
    width: 100%;
    /* margin: auto; */
/* background: url('./media/IMG_0056.JPG'); */
/* background-repeat: no-repeat; */
/* background-position: center; */
/* display: table; */
/* top: 0; */
/* background-size: 100% 145%; */
/* overflow: hidden; */

.temp-nav {
  overflow: hidden;
  /* background-color: rgb(0, 19, 37); */
  position: fixed; /* Set the navbar to fixed position */
  /* bottom: 0; Position the navbar at the top of the page */
  /* left: 4.5vw; */
  height: 100vh;
  /* border-right: 1vw solid black; */
  /* fullwidthmargin-left: 3%; */
  display: flex;
  justify-content: center;
  /* align-self: flex-end; */
  /* justify-self: flex-end; */
  align-items: flex-end;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-self: flex-end;
}

.nav-button {
  /* float: left; */
  display: block;
  /* background: rgb(0, 19, 37); */
  /* border: 3px solid rgb(164, 152, 136); */
  /* background: rgb(86, 124, 140); */
  /* border: rgb(164, 152, 136); */
  color: rgb(164, 152, 136);
  text-align: center;
  /* padding: 14px 16px; */

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5vw;
  /* font-weight: 1000; */
  width: 8vw;
  margin: 3vh 0;
}

.nav-button:hover {
  /* background: rgb(164, 152, 136); */
  /* background: rgb(86, 124, 140); */
  color: rgb(164, 152, 136);
  /* color: rgb(86, 124, 140); */
  /* border: rgb(86, 124, 140); */
  transition: all 0.3s ease;
}

.main {
  padding-top: 1px;
  /* width: 100%; */
}

.main-item {
  /* margin: 0.5% 0; */
  height: 100vh;
  width: 90vw;
}
